body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: rgb(97, 93, 93);
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
  color: rgb(138, 104, 148);
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: rgb(180, 179, 179);
}

footer {
  font-size: 10px;
  color: black;
}

.buttonSearch {
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-color: rgba(90, 73, 94, 0.349);
  transition: all 200ms ease-in-out;
}

.buttonSearch:hover {
  background: rgb(180, 179, 179);
  color: #ffff;
  cursor: pointer;
}

.card {
  background-color: transparent;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

.line {
  color: grey;
}

.degrees {
  text-align: center;
  color: rgb(94, 92, 92);
  margin: 0 auto;
}

.active {
  color: rgb(94, 92, 92);
  cursor: default;
  text-decoration: none;
}

.degrees .active:hover {
  text-decoration: none;
}

.description {
  text-align: center;
  color: rgb(138, 104, 148);
}

.temperature {
  font-style: italic;
  color: rgb(94, 92, 92);
  text-align: center;
  margin: 0 auto;
}

.wind-speed {
  text-align: center;
  color: rgb(94, 92, 92);
  margin-bottom: 25px;
  margin-top: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.box1,
.box2 {
  float: left;
  width: 32%;
  margin-right: 2%;
  padding: 20px;
  background: #eee;
  box-sizing: border-box;
}

#degree-number {
  text-align: center;
  margin: 0 auto;
  font-size: 28px;
  color: rgb(94, 92, 92);
}

#icon {
  margin: 0 auto;
  display: block;
}

#fahrenheitLink {
  text-decoration: none;
}
